global:
  scrape_interval:     {{.scrapeInterval}}
  scrape_timeout:      {{.scrapeTimeout}}
  evaluation_interval: {{.evaluationInterval}}

rule_files:
  - /rules.yml

scrape_configs:
  - job_name: 'prometheus'
    metric_relabel_configs:
    - source_labels: ["__name__"]
      regex: "prometheus_.*"
      target_label: "instance"
      replacement: "{{.prometheusServer}}"
    static_configs:
    - targets: ['localhost:9090']

{{$scheme := .scheme}}
{{$tlsInsecure := .tlsInsecure}}
{{$scrapeMatch := .scrapeMatch}}
{{range .scrapePaths}}
  - job_name: '{{.}}'
    scheme: {{$scheme}}
    tls_config:
      insecure_skip_verify: {{$tlsInsecure}}
    metrics_path: {{.}}
{{if not (eq $scrapeMatch "")}}
    params:
      'match[]':
        - '{__name__=~"{{$scrapeMatch}}"}'
{{end}}
    file_sd_configs:
      - files: 
        - /servers.json

{{end}}
